@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&family=Zen+Maru+Gothic:wght@500;700&display=swap');

// <uniquifier>: Use a unique and descriptive class name

.afacad-flux-<uniquifier> {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 700;
  font-style: normal;
}


/* 全体に適用する */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-style: normal;
}

/* 共通 */
:root {
--bg: #fff;
--color:#504a41;
--color2:#a8aeb0;
--color3:#9ebec4;
}

/* 基本設定 */
body {
    background: var(--bg);
    line-height: 1.7;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 13px;
    color: var(--color);
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  opacity: 0.4;
  z-index: -1;
}
.Boxes {
  background-image:  linear-gradient(#ffc107 2px, transparent 2px), linear-gradient(to right, #ffc107 2px, #ffe9a7 2px);
  background-size: 40px 40px;
}

/* リンク */
a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--color2);
}

/* ヘッダー */
header {
    margin: 0 auto;
    padding: 3em 0;
    width: 80%;
    max-width: 600px;
}
header h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

/* ナビゲーション */
nav {
    margin: 3em auto 2em;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 1em;
}

nav ul li a {
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    color: var(--color3);
}
